body{
    padding-left: 15px;
    padding-top: 15px;
}
div#inputfuncionarios {
    width: 900px;
    height: 1200px;
    margin-left: 05;
}

div#tipofunc{
    width: 410;
    height: 400;
    float: right;
    margin-top: 90;
}

ul#tiposfuncionarios p{text-align: center; border-style:double; font-family: sans-serif;}

ul#tiposfuncionarios li{list-style-type: none;}

ul#equipe{list-style-type: none;}

ul#equipe p{text-align: center; border-style: double; font-family: sans-serif;}

ul#equipe li{text-align: center;}

div#encima{
    width: 350;
    height: 170;    
}

div#textfuncionarios {
    background-color: white;
    width: 600;
    height: 20;
}
ul#menutext {
    background-color: white;
    
}
ul#menutextfunc li {
    background-color: white;
    display: inline;
    padding-right: 135px;
}   

ul#menutextcabe li{
    list-style-type: none;
    width: 100px;
    overflow: hidden;
    margin-bottom: 4;
}

/* Não modificando a em um modo lista, tamanho defaut, sem bolinhas do lado, arredando para chegar proximo ao texto escrito e ancora na direita.*/
ul#inputcabe li{
    list-style-type: none;
    display:list-item;
    float: right;
    margin-right: 1555;
}

h4#controle{padding-left: 600px;}

ul#resto{float:left; display: inline-flex; list-style-type: none; margin-left: 450;}

ul#resto li{margin-left: 10;}
